.home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  display: flex;
  border: 1px solid white;
  width: 65%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  .sidebar{
    flex: 1;
    background-color: antiquewhite;
  }
  .chat{
    flex: 2;
  }
}
.navbar{
  background-color: rgb(229, 178, 111);
}
.navbar{
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
}
.navbar span{
  color: white;
}
